<div class="section">
  <div class="container">
    <%= render "_form_core/render/form",
               form: @form, instance: @instance,
               options: {scope: :preview, url: form_preview_path(@form), local: true} %>
  </div>
</div>
