<div class="field">
  <%= f.label field.name, field.label, class: 'label' %>
  <div class="control">
    <% field.collection.each_with_index do |choice, index| %>
      <label class="radio">
        <%= f.radio_button field.name, index %>
        <%= choice %>
      </label>
      <br>
    <% end %>
  </div>
  <% if field.hint.present? %>
    <p class="help"><%= field.hint %></p>
  <% end %>
</div>
