<div class="section">
  <div class="container">
    <%= form_with url: form_load_path(@form), method: :post, local: true do |f| %>
      <div class="field">
        <div class="control">
          <%= f.text_area :serialized, class: "textarea", rows: 20 %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= f.submit "Load from YAML", class: "button is-primary" %>
        </div>
        <div class="control">
          <%= link_to "Back", url_for(:back), class: "button is-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
