<h3 class="title">Decimal field</h3>

<div class="field">
  <%= f.label :step, class: "label" %>
  <div class="control">
    <%= f.number_field :step, class: "input", min: 0, step: 0.01 %>
  </div>
</div>
<hr>
