<h3 class="title">Integer field</h3>

<div class="field">
  <%= f.label :step, class: "label" %>
  <div class="control">
    <%= f.number_field :step, class: "input", min: 0, step: 1 %>
  </div>
</div>

<hr>
