<h3 class="title">Select field</h3>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box :strict_select %>
      Can only select from collection
    </label>
  </div>
</div>

<hr>
