<h3 class="title">Resource Select field</h3>

<div class="field">
  <%= f.label :data_source_type, class: "label" %>
  <div class="control">
    <span class="select">
      <%= f.select :data_source_type, options_for_data_source_types(selected: options.data_source_type) %>
    </span>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box :strict_select %>
      Can only select from data source
    </label>
  </div>
</div>

<hr>
