<h3 class="title">Text field</h3>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box :multiline %>
      The field is a text area
    </label>
  </div>
</div>

<hr>
