<h3 class="title">TimeSpan field</h3>

<div class="field">
  <%= f.label :start_at_least_time, class: "label" %>
  <div class="control">
    <%= f.datetime_field :start_at_least_time, class: "input" %>
  </div>
</div>

<div class="field">
  <%= f.label :end_at_most_time, class: "label" %>
  <div class="control">
    <%= f.datetime_field :end_at_most_time, class: "input" %>
  </div>
</div>

<hr>
