<h3 class="title">Select field</h3>

<div class="field">
  <%= f.label :collection, class: 'label' %>
  <p class="control">
    <%= f.select :collection, options_for_select(options.collection, options.collection), {}, id: 'options_collection', multiple: true %>
  </p>
</div>

<div class="field">
  <p class="control">
    <label class="checkbox">
      <%= f.check_box :strict_select %>
      Can only select from collection
    </label>
  </p>
</div>

<hr>

<script>
  document.addEventListener("turbolinks:load", function() {
    $('#options_collection').selectize({
      maxItems: null,
      create: true
    });
  });
</script>
