<h3 class="title">Acceptance</h3>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box :acceptance %>
      The field must be checked
    </label>
  </div>
</div>

<hr>
