<h3 class="title">Confirmation</h3>

<div class="field">
  <p class="control">
    <label class="checkbox">
      <%= f.check_box :confirmation %>
      The field must be repeated in confirmation field
    </label>
  </p>
</div>

<hr>
