<h3 class="title">Presence</h3>

<div class="field">
  <p class="control">
    <label class="checkbox">
      <%= f.check_box :presence %>
      The field must not empty
    </label>
  </p>
</div>

<hr>
