<div class="field">
  <%= f.label :scope %>
  <div class="control">
    <%= f.text_field :scope, class: "input", required: true %>
  </div>
  <p class="help">
    The dictionary's scope you've created, go to <%= link_to "Dictionaries", dictionaries_path, target: "_blank" %> to check this out.
  </p>
</div>
