<div class="field">
  <div class="control">
    <label class="checkbox">
      <%= f.check_box field.name, id: field.id, required: field.required, disabled: field.access_readonly? %>
      <%= field.label %>
    </label>
  </div>
  <% if field.hint.present? %>
    <p class="help"><%= field.hint %></p>
  <% end %>
</div>
