<div class="field">
  <%= f.label field.name, field.label, class: 'label' %>
  <div class="control">
    <%= f.datetime_field field.name, field.field_options.merge(class: 'input', id: field.id, required: field.required, disabled: field.access_readonly?) %>
  </div>
  <% if field.hint.present? %>
    <p class="help"><%= field.hint %></p>
  <% end %>
</div>
