<div class="nested_form">
  <% if f.object.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p>
          <%= pluralize(f.object.errors.count, "error") %> prohibited this form from being submitted:
        </p>
      </div>
      <div class="message-body content">
        <ul>
          <% f.object.errors.messages.each do |name, messages| %>
            <% messages.each do |message| %>
              <li>
                <%= "#{form.fields.select { |field| field.name == name}.first&.label } #{message}" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <% form.fields.each do |field| %>
    <% field = present(field, target: f.object) %>
    <% unless field.access_hidden? %>
      <%= render "_form_core/fields/#{field.type_key}", f: f, field: field %>
    <% end %>
  <% end %>

  <% if field.access_read_and_write? %>
    <div class="field is-grouped">
      <div class="control">
        <%= link_to_remove_association "Remove", f, class: "button is-small is-danger", wrapper_class: "nested_form" %>
      </div>
    </div>
  <% end %>
</div>
