<div class="field">
  <%= f.label field.name, field.label, class: 'label' %>
  <div class="control">
    <% if field.options.multiline %>
      <%= f.text_area field.name, class: 'textarea', id: field.id, required: field.required, disabled: field.access_readonly? %>
    <% else %>
      <%= f.text_field field.name, class: 'input', id: field.id, required: field.required, disabled: field.access_readonly? %>
    <% end %>
  </div>
  <% if field.hint.present? %>
    <p class="help"><%= field.hint %></p>
  <% end %>
</div>
